@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* colours */
    --background-nav: rgba(243, 240, 240, 0.85);
    --background-nav-hov: rgba(138, 138, 138, 0.75);
    --text-nav: rgba(47, 47, 47, 1);
    --background-body: rgba(54, 57, 70, 0.05);
    --text-general: rgb(54, 57, 70);
    --text-headings: #020c3b;
    --accent-color-red: #e30202;
    --accent-color-yellow: #fcff6c;
}

html,
body {
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--background-body);
}

.banner-title {
    background-image: url("img/web_small_6250 x 627220200915_120_BW_Bamburgh_Alnmouth_0051-Pano.jpg");
    background-size: cover;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.site-title {
    font-size: 4.5em;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: 0;
    color: var(--text-general);
}

.site-subtitle {
    font-size: 1.7em;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: var(--text-general);
    text-transform: lowercase;
    font-weight: 400;
}

.content-main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
}

.section-title {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-transform: lowercase;
    color: var(--text-headings);
}

.section-title::after {
    content: "";
    position: absolute;
    top: 35%;
    margin: 0 1rem;
    height: 35%;
    width: 50%;
    background-color: var(--accent-color-red);
}

.section-lead {
    color: var(--text-nav);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.15rem;
    line-height: 1.8em;
    color: var(--text-general);
}

.subsection {
    display: flex;
    flex-direction: column;
}

/* navbar */

.site-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--background-nav);
}

.site-nav label {
    display: inherit;
}

.nav-trigger {
    position: absolute;
    top: -100%;
    left: -100%;
}

.menu-icon {
    padding: 1em;
}

.trigger {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 50%;
    transition: max-height 0.3s ease-out;
}

#nav-trigger:checked ~ .trigger {
    max-height: 50vh;
}

.page-link {
    all: unset;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    text-transform: lowercase;
    color: var(--text-nav);
}

/* end navbar */

/* footer */

.site-footer {
    border-top: dashed var(--background-nav-hov) 0.15em;
    padding-top: 1em;
    background-color: var(--background-nav);
}

.footer-col-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-heading {
    display: none;
}

.contact-list {
    display: none;
}

.footer-col-wrapper ul {
    list-style: none;
}

.social-media-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}

.social-icon {
    width: 1em;
    height: 1em;
    padding: 0.5em 0.5em;
    color: var(--text-nav)
}

.username {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.footer-col-3 {
    width: 90%;
    margin: auto;
}

.footer-col-3 p {
    font-size: 1em;
    font-weight: 200;
}

@media (min-width: 1024px) {

    .banner-title {
        background-image: url("img/web_normal_6250 x 627220200915_120_BW_Bamburgh_Alnmouth_0051-Pano.jpg");
    }

    .site-title {
        font-size: 6em;
    }

    .site-subtitle {
        font-size: 2em;
    }

    .content-main{
        width: 50%;
    }

    .subsection {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3%;
        justify-content: space-between;
    }

    .sub-subsection {
        flex-basis: 30%;
    }

    #nav-trigger,
    .menu-icon {
        display: none;
    }

    .trigger {
        max-height: 10vh;
        flex-direction: row;
        align-self: flex-end;
        width: unset;
    }

    .page-link {
        cursor: pointer;
        position: relative;
    }

    .page-link::before {
        content: "";
        position: absolute;
        height: 0.05em;
        width: 70%;
        top: 1.75em;
        left: 15%;
        background-color: var(--text-nav);
        transform: scaleX(0);
        transition: transform 250ms ease-in;
    }

    .page-link:hover::before,
    .page-link:focus-within::before {
        transform: scaleX(1);
    }

    /* Footer */
    .footer-col-wrapper {
        flex-direction: row;
        width: 70%;
        margin: auto;
        align-items: center;
    }

    .footer-col-2 {
        flex-basis: 50%;
    }

    .footer-col-3 {
        flex-basis: 50%;
    }

    .social-media-list {
        width: unset;
        justify-content: center;
    }

    .social-icon {
        font-size: 2.5em;
    }

}